# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.ruff_cache/
*.pyc

# Environment variables
.env
.env.*
!.env.example

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
